@font-face {
  font-family: "Figtree Italic";
  src: url("./assets/Figtree-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("./assets/Lucida-Grande-Regular-Font.ttf");
}
@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("./assets/arialroundedmtbold.ttf");
}

@font-face {
  font-family: "Instrument Serif";
  src: url("./assets/InstrumentSerif-Regular.ttf");
}

body {
  /* paper*/
  background-image: url("./assets/paper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Figtree Italic";
  font-weight: semibold;
  line-height: 0px;
}

h2 {
  font-family: "Instrument Serif";
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Arial Rounded MT Bold";
  font-size: 40px;
  height: 72px;
  width: 200px;
  border-radius: 15px;
  color: #891c1c;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid black;
  text-wrap: nowrap;
}

button:hover {
  color: white;
  background: #891c1c;
}

.back-to-search {
  font-size: 30px;
  width: 250px;
}

#frontpage1 {
  font-size: 128px;
  letter-spacing: -0.17em;
}

#frontpage2 {
  font-size: 50px;
  line-height: 1.5;
}

#whattag {
  vertical-align: middle;
  font-size: 64px;
  line-height: 1.5;
  padding-right: 50px;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  min-height: 100vh;
  flex-direction: column; /* stacks h1 and h2 on top of each other */
}

.container2 {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  min-height: 100vh;
  padding: 10px 40px;
}

#tagbox input {
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  height: 68px;
  width: 613;
  vertical-align: middle;
}

#tagbox input:focus {
  border: 2px solid #891c1c;
}

#tag {
  font-family: "Lucida Grande";
  font-size: 40px;
  padding-left: 25px;
  line-height: 2;
}

#next {
  font-family: "Arial Rounded MT Bold";
  font-size: 40px;
  height: 72px;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  color: #891c1c;
  cursor: pointer;
  vertical-align: middle;
  background-color: #ffffff;
  position: relative;
  right: -10px;
}

#next:hover {
  color: white;
  background: #891c1c;
}

.dark-mode {
  /* background: #2e0000; */
  color: #cccccc;
  background-image: url("./assets/blackpaper.jpg");
  /* background: #170707;
  background: radial-gradient(
    circle,
    rgba(23, 7, 7, 1) 41%,
    rgba(80, 18, 18, 1) 86%,
    rgba(137, 28, 28, 1) 100%
  ); */
}

#toggleDarkMode {
  /* styling dark mode button */
  width: 200px;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.work-title {
  color: #891c1c;
  font-family: "Lucida Grande";
  margin: 10px;
  text-indent: 0;
  text-underline-position: under;
}

.result-card {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  margin: 30px;
  width: 600px;
  border: 1px solid black;

  height: auto; /* Fixed width; height adjusts with text*/
  word-wrap: break-word;
}

.result-card:hover {
  background-color: #bdbdbd;
}

body.dark-mode .result-card:hover {
  background-color: #242424;
}

#works-heading {
  position: relative;
  top: 30px;
  font-size: 40px;
  font-family: "Instrument Serif";
}

.card-text {
  font-family: "Lucida Grande";
  margin: 10px;
  font-size: 20px;
}

body.dark-mode .result-card {
  background-color: rgb(21, 21, 21);
  border: 1px solid #cccccc;
}

body.dark-mode .work-title {
  color: #791d1d;
}

.loading {
  font-family: "Arial Rounded MT Bold";
  color: #891c1c;
  font-size: 60px;
}

body.dark-mode .loading {
  color: #cccccc;
}
