@font-face {
    font-family: 'Lucida Grande';
    src: url("./fonts/Lucida-Grande-Regular-Font.ttf");
}
@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url("./fonts/arialroundedmtbold.ttf");
}

body { /* paper and red border */
    background-image: url("./img/paper.jpg");
    background-position: center;
    background-size: 100vw 100vh;
}

h1 {
    font-family: 'Lucida Grande';
    line-height: 14px;
}

h2 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
}

button{ 
    font-family:'Arial Rounded MT Bold';
    font-size: 40px;
    height: 72px;
    width: 200px;
    border-radius: 15px;
    color: #891C1C;
    background: #ffffff;
    cursor: pointer;
    border: 2px solid black;
    text-wrap: nowrap;
}

button:hover{ 
    color: white;
    background: #891C1C;
}


#frontpage1 {
    font-size: 128px;
    letter-spacing: -0.17em;
}

#frontpage2 {
    font-size: 42px;
}

#whattag {
    vertical-align: middle;
    font-size: 64px;
    padding-right: 50px;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    min-height: 100vh;
    flex-direction: column /* stacks h1 and h2 on top of each other */
    
}

.container2 {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    min-height: 100vh;
}


#tagbox input {
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    height: 68px;
    width: 613;  
    vertical-align: middle;
}

#tagbox input:focus {
    border: 2px solid #891C1C;
    
}

#tag {
    font-family: 'Lucida Grande';
    font-size: 40px;
    padding-left: 25px;
    line-height: 2;
}


#next {
    font-family:'Arial Rounded MT Bold';
    font-size: 40px;
    height: 72px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    color:#891C1C;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
}

#next:hover{ 
    color: white;
    background: #891C1C;
}
