<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- instrument serif font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
    
     <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
    <title>rAO3tio</title>

</head>

<body>
    <div class="container">
        <h1><span id="frontpage1">rAO3tio</span></h1>
        <h2><span id="frontpage2"> An advanced way to filter through works :) </span> </h2>
        <a href="search"> <button>Let's go!</button> </a>
       
        <button id="toggleDarkMode">Dark Mode</button>
    </div>
    
    

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>